
  .wrapper {
    margin: 0 auto;
    width: 85%;
    overflow-x: hidden;
    border-bottom: 1px solid var(--accent-color);
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  .wrapper:first-child {
    padding-top: 0;
  }
  .wrapper:last-child {
    padding-bottom: 5rem;
    border-bottom: none;
  }

  .preview-container {
    display:grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    user-select: none;
  }

  .small-preview {
    grid-template-columns: repeat(auto-fit, minmax(0, 350px));
  }

  .img-wrapper {
    position: relative;
    background-color: #2f2f2f;
    border-radius: 10px;
    padding-top: 56.25%;
  }


  .file-preview img {
    border-radius: 10px;
    position: absolute;
    object-fit:contain;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    user-select:none;
  }

  .file-preview {
    cursor: pointer;
    border-radius: 10px;
    padding: 6px;
  }

  .shared-icon {
    position: absolute;
    top: 5%;
    right: 3%;
    z-index: 1;
    filter: invert(1);
    background-color: rgba(255, 255, 255, .6);
    padding: 3px;
    border-radius: 3px;
  }

  .video-icon {
    z-index: 1;
    height: 50px !important;
    width: 50px !important;
    background-color: rgba(255, 255, 255, .4);
    padding: 10px;
    border-radius: 3px;
    position: absolute;
    top:50% !important;
    left:50% !important;
    transform: translate(-50%, -50%);
    filter: invert(1);
  }

  .audio-icon {
    z-index: 1;
    height: 25px !important;
    width: 25px !important;
    background-color: rgba(255, 255, 255, .6);
    padding: 2px;
    border-radius: 2px !important;
    position: absolute;
    top:3% !important;
    left:3% !important;
    filter: invert(1);
  }

  .image-icon {
    z-index: 1;
    height: 25px !important;
    width: 25px !important;
    background-color: rgba(255, 255, 255, .6);
    padding: 2px;
    border-radius: 3px !important;
    position: absolute;
    top:3% !important;
    left:3% !important;
    filter: invert(1);
  }

  .back-icon {
    position: absolute;
    height: 25px;
    width: 25px;
  }

  .duration-text {
    z-index:1;
    color: black;
    position: absolute;
    bottom: 5%;
    right:3%;
    background-color: rgba(255, 255, 255, .6);
    font-size: 14px;
    filter: invert(1);
    padding: 0 3px;
    border-radius: 3px;
  }

  .tooltip-wrapper > .shared-hover {
    font-size: 12px;
    color: white;
    height: 24px;
    /* display:none; */
    position: absolute;
    top: -15px;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    white-space: nowrap;
    border-radius: 3px;
    padding: 3px;
    z-index: 10;
    background-color: rgba(0, 0, 0, .8);
    transition: all 0.3s ease;
  }

  .tooltip-wrapper {
    position: absolute;
    top: 5%;
    right: 3%;
    height: 20px;
    width: 20px;
    z-index: 2;
  }

  .tooltip-wrapper:hover > .shared-hover {
    display: block;
    opacity: 1;
    top: -30px;
  }


  div:has( > .preview-title) {
    width: calc(100% - 51px);
    word-wrap: break-word;
  }

  .preview-title {
    font-weight: bold;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2; /* Number of lines to show */
    text-overflow: ellipsis;
  }

  .card#upload {
    width: 80%;
  }

  @media (max-width: 750px) {
    .small-preview {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
  }


  .options {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 3px;
    margin-top: 2px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    cursor: pointer;
  }

  .options svg {
    filter: var(--img-invert);
  }
  
  .dropdown-menu {
    width: auto;
    border-radius: 10px;
    user-select: none;
    background-color: var(--bg-color);
    color: var(--font-color);
    border-color: var(--accent-color);
  }
  
  .dropdown-item {
    color: var(--font-color);
  }

  .dropdown-item:hover {
    cursor: pointer;
    color: var(--font-color);
    background-color: #eaeaea;
    z-index: 1;
  }

  /* @media (prefers-color-scheme:dark) {
    .options svg {
      filter:invert(1);
    }
    .dropdown-menu {
      background-color: #2f2f2f;
      color: white;
    }
    .dropdown-item {
      color: white;
    }
    .dropdown-item:hover {
      background-color: var(--accent-color-dark);
      color: white;
    }
    .wrapper {
      border-bottom: 1px solid var(--accent-color-dark);
    }
  } */

