.file-container {
    width: 100%;
    height: fit-content;
    max-height: 80vh;
    background-color: black;
    text-align: center;
    display: grid;
    place-items: center;
    /* display:block; */
}

.img-placeholder {
    width: 100%;
    max-height: 80vh;
}

.file-container > img {
    width: 100%;
    max-height: 80vh;
    object-fit:contain;
    background-color: black;
    margin: auto;
}

.file-container.blur-load {
    position: relative;
}

.file-container.blur-load > img{
    opacity: 0;
    position:absolute;
    transition: opacity 200ms ease-in-out;
  }

  .file-container.blur-load.loaded > img {
    position:initial;
    opacity: 1;
  }

.file-container > audio {
    height: 70vh;
    padding: 1rem;
    width: 100%;
    background-color: black;
}

.file-container > video {
    max-height: 80vh;
    width: 100%;
    background-color: black;
}

.file-info {
    width: 100%;
    padding: 0 2vw;
}

.file-name {
    width: calc(100% - 80px);
    word-wrap: break-word;
}

h4.file-name {
    font-size: var(--fs-500);
}

.related-info {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#editForm {
    width: 65%;
}

.related-files {
    width: 35%;
    padding: 5px 1rem;
    height: fit-content;
}

.description {
    width: 100%;
    padding: .5rem;
    border: 1px solid #787878;
    border-radius: 10px;
}

.edit-btn, .btn-container > .share-btn, .check-btn {
    padding:0;
    height: 30px;
    width: 30px;
}

.option-btn {
    height: 100%;
    width: 100%;
    padding: 3px;
    border-radius: 5px;
}

.option-btn:hover {
    cursor: pointer;
    background-color: #C8C8C8;
}

.related-files {
    width: 35%;
}

.related-files > * {
    margin: .5rem;
}


.file-preview {
    display: grid;
    grid-template-columns: 200px calc(100% - 200px);
    grid-gap: 16px;
}

.check-btn {display: none;}

#inputName {
    width: calc(100% - 90px);
    font-size: calc(var(--fs-500) - 2px);
}

.preview-title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2; /* Number of lines to show */
    text-overflow: ellipsis;
}

.preview-info {
    padding: 3px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn-container {
    width: 70px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    align-self:stretch;
    margin: 10px 0;
}

.btn-container img {
    user-select: none;
}

.related-preview img{
    border-radius: 10px;
    position: absolute;
    object-fit:cover;
    top: 0;
    left: 0;
    height: 100%;
    user-select:none;
}

.dropdown-menu {
    transform: translate3d(-120px, 37px, 0px) !important;
}

.loader-wrapper {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 

@media (max-width: 1220px) {
    .related-info {
        flex-direction: column;
    }
    .related-files {
        width: 100%;
    }
    #editForm {
        width: 100%;
    }

    .file-preview {
        display: grid;
        grid-template-columns: 200px 4fr;
        grid-gap: 16px;
    }
}

@media (max-width: 900px) {

    .file-container {
        height: fit-content;
        max-height: 70vh;
    }

    .img-placeholder {
        max-height:70vh;
    }
    
    .file-container > img{
        max-height: 70vh;
    }

    .file-container > video{
        max-height: 70vh;
    }

    .file-container > audio {
        height: 40vh;
        width: 100%;
    }
}

@media (max-width: 750px) {
    /* .file-container {
        height: fit-content;
    } */
    .file-preview {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 8px;
    }
}

.btn-container > * {
    filter: var(--img-invert);
}