:root {
  --accent-color: #CCC;
  --input-color: #f8f8f8;
  --scroll-thumb-color: #454545;
  --mid-color: #2f2f2f;
  --light-mid-color: #454545;
  --bg-color: #f8f8f8;
  --font-color: black;
  --img-invert: none;

  --fs-500: clamp(18px, 2vw + 5px, 1.5rem);
  --fs-400: clamp(17px, 1.5vw - 5px, 19px);
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent-color: #454545;
    --input-color: #454545;
    --accent-inverted-color: #bababa;
    --scroll-thumb-color: #CCC;
    --light-mid-color: #898989;
    --mid-color: #2f2f2f;
    --bg-color: #232323;
    --font-color: white;
    --img-invert: invert(1);
  }
}


:root[theme='light']{
  color-scheme: light;
  --accent-color: #CCC;
  --input-color: #f8f8f8;
  --scroll-thumb-color: #454545;
  --light-mid-color: #454545;
  --mid-color: #2f2f2f;
  --bg-color: #f8f8f8;
  --font-color: black;
  --img-invert: none;
}

:root[theme='dark']{
  color-scheme: dark;
  --accent-color: #454545;
  --input-color: #454545;
  --accent-inverted-color: #bababa;
  --scroll-thumb-color: #CCC;
  --light-mid-color: #898989;
  --mid-color: #2f2f2f;
  --bg-color: #232323;
  --font-color: white;
  --img-invert: invert(1);
}

html {
  color: var(--font-color);
}

html.no-scroll {
  overflow-y: hidden;
  margin-right: 16px;
}

@media (max-width: 750px) {
  html.no-scroll {
    margin-right: 0;
  }
}

.link {
  max-width: fit-content;
  text-decoration: none !important;
}

.link:hover {
  color: #0068d6;
}

.container-fluid {
  padding: 0px 0px;
}

.card {
  border-color: var(--accent-color);
  width: 550px;
}

.click-focus {
  background-color: var(--accent-color);
}

.center-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

* {
  font-family: "Pt Sans", sans-serif;
}


.tooltip.bs-tooltip-bottom .arrow::before {
  display:none;
}

h4{
  font-family: "Pt Sans narrow", sans-serif;
  margin-top: 10px;
  font-weight: bold;
}

/* BG colors of login and registration page */

  .blur-load > picture{
    opacity: 0;
    position:absolute;
    transition: opacity 200ms ease-in-out;
  }

  .blur-load.loaded > picture {
    position:initial;
    opacity: 1;
  }

  .background-theme {
    background: var(--bg-color);
    height: 100%;
  }

  .shadow { 
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
  }

  body {
    transition: background-color 100ms linear;
    padding-bottom: 50px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: var(--bg-color);
    color: var(--font-color);
   
  }

  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--scroll-thumb-color);
    border-radius: 10px;
    border: 3px solid var(--bg-color);
  }
  
  
  /* Change color of buttons (must be declared as btn-green) */
  .btn-theme {
    background-color: #0062b7;
    color:white;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 18px;
    width: 200px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: background-color .5s, color .5s;
  }

  .btn-theme:hover {
    background: #004a8b;
    color: white;
  }
  
  .btn-primary {
    background: #0062b7;
    color: white;
  }

  .btn-primary:hover {
    background: #004a8b;
  }
  
  .dropzone {
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
    min-height: 60vh;
    max-height: fit-content;
    position: relative;
    background-color: var(--input-color);
  }
  
  .dropzone .dz-preview .dz-error-message {
    top: 150px!important;
  }

  .dropzone > * {
    height: fit-content;
  }

  .dropzone .dz-message {
    /* position: absolute;
    transform: translate(-50%, -50%);*/
    margin: 0 0; 
    background-image: url("../icons/upload.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 150px;
    filter:invert(30%);
    height: 280px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: end;
  }
  
  .dz-progress {
    z-index: 900 !important;
  }
  .dz-filename {
    position: absolute;
    top:80px;
    left:0px;
    width:120px;
  }
  .dz-filename:hover {
    width: fit-content;
  }

  .dropzone .dz-message {
    filter: invert(50%);
  }

  .dz-remove {
    color: #4390ee !important;
  }

  .dz-image{
    background: var(--light-mid-color) !important;
  }

  .dz-image-preview {
    background: transparent !important;
  }

  .dz-size span{
    color: var(--font-color);
    background-color: var(--accent-color) !important;
  }
  .dz-size span strong{ background-color: transparent;}

  .background-theme {
    background-color: var(--bg-color);
  }

  .no-files-wrapper {
    display: flex;
    margin: auto;
    margin-top: 5rem;
    width:fit-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .no-content-icon {
    filter:var(--img-invert);
  }

  .fileinput-wrapper {
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--accent-color);
    text-align: left;
  }

  .fileinput-wrapper:last-child {
    border-bottom: none;
  }

  .card#upload {
    border-radius: 15px;
    background-color: var(--bg-color);
    border-color: var(--accent-color);
  }

  @media (max-width: 900px) {
    .card#upload {
      width: 100%;
      height: fit-content;
    }
  }
  
  .file-view {
    color: black !important;
    font-weight: 600;
    background: #01cdff;
  }
  
  .file-view:hover {
	background: #0196d0;
  }
  
  /* Footer styles */
  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--bg-color);
    color: #000;
    text-align: center;
    height: 40px;
    line-height: 50px;
    max-height: 100px;
  }
  
  
  /* Card styles */

  .card-data-container::-webkit-scrollbar {
    display: none;
  }

  .hide {display: none;}
  
  .card-data-container {
    overflow-y: auto; /* Enable vertical scrolling */
    overflow-x: hidden;
    overflow: visible;
    position: relative;
    color: black;
  }
  
  .form-control {
    white-space: nowrap;
  }
  
  .card-body {
    padding: 20px;
    /* border: 1px solid #80ded4; */
  }
  .card-header {
    font-weight: bold;
    border-radius: 50%;
  }
  
  /*
    Edit card settings
  */
  
  .edit-popup {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  .note {
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: pre-wrap;
  }
  
  #inputNote {
	height: 200px
  }
  
  .edit-popup::-webkit-scrollbar {
    display: none;
  }
  
  .edit-popup-content {
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 50%;
  }
  
  
  /* Media popup */

  .popup {
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: -moz-hidden-unscrollable;
    background-color: rgba(0,0,0,0.4);
  }

  .popup-content {
    margin: 20% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 50%;
  }
  
  .media-popup {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  .media-popup::-webkit-scrollbar {
    display: none;
  }
  
  .media-popup-content {
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 50%;
  }
  
  .media{
    width: 100% !important;
    max-height: 80vh !important;
    object-fit: contain !important;
  }
  
  .shared-files {
	display:none;  
  }

  .alert {
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  /* #f8d7da */
  .alert-box {
    position: absolute;
    background-color: var(--bg-color);
    min-height: 250px;
    max-height: 90vh;
    padding-bottom: 60px;
    width: 500px;
    top:50%;
    left:50%;
    text-align: center;
    border-radius: 3px;
    box-shadow: 4px 8px 12px 0 rgba(0,0,0,0.4);
    transform: translate(-50%,-50%);
  }

  @media (max-width: 420px) {
    .alert-box {
      width: 90vw;
    }
  }


  .alert-title {
    display: block;
		font-size: 24px;
		line-height: 28px;
		font-weight: 400;
		margin: 20px 0 14px 0;
  }

  .alert-box > img {
    width: 54px;
    height: 45.5px;
    margin-top: 24px;
  }

  .error-btn {
    position: absolute;
		height: 60px;
		bottom: 0;
		left: 0;
		right: 0;
		background: #F65656;
		color: #fff;
		line-height: 40px;
		font-size: 18px;
    border-color: #F65656;
		cursor: pointer;
		transition: background .3s ease-in-out;
  }

  .error-btn:hover {
    background: #EC3434;
  }

    /* #f8d7da */
  .success-msg {
    position: absolute;
    margin: auto;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .alert-danger {
    background-color: rgb(187, 91, 108);
    border-radius: 10px;
  }
  
  /* Close button */

  .close-btn{
    vertical-align: top;
    text-align: center;
    color:#222222;
    float: right;
    text-decoration: none;
    font-size: 28px;
    font-weight: bold;
  }

  .close-btn:hover,
  .close-btn:focus {
    /* color: var(--bg-color); */
    text-decoration: none;
    cursor: pointer;
  }
  
  .no-content-icon {
    height: 200px;
    width: 200px;
  }

  input[type=text], input[type=text]:focus,
  input[type=password], input[type=password]:focus,
  input[type=email], input[type=email]:focus,
  input[type=search], input[type=search]:focus
  {
    color: var(--font-color);
    background-color: var(--input-color);
    border-color: var(--accent-color);
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover, 
  input:-webkit-autofill:focus, 
  input:-webkit-autofill:active{
      -webkit-box-shadow: 0 0 0 30px var(--input-color) inset !important;
  }
  input:-webkit-autofill{
    -webkit-text-fill-color: var(--font-color) !important;
  }

  textarea,
  textarea:focus {
    color: var(--font-color) !important;
    background-color: var(--input-color) !important;
    border-color: var(--accent-color) !important;
  }

  

  /* @media (prefers-color-scheme: dark) {
    h4 {
      color: white;
    }
    body {
      background-color: var(--bg-color-dark);
      color: white;
    }
    *::-webkit-scrollbar-thumb {
      background-color: #CCC;
      border-radius: 10px;
      border: 3px solid #232323;
    }
    .click-focus {
      background-color: var(--accent-color-dark);
    }
    .dropzone {
      background-color: #2f2f2f;
    }
    .card#upload {
      background-color: (var(--bg-color-dark));
      border-color: var(--accent-color-dark);
    }
  
    input[type=text], input[type=text]:focus,
    input[type=password], input[type=password]:focus,
    input[type=email], input[type=email]:focus
    {
      color:white;
      background-color: var(--accent-color-dark);
      border-color: var(--accent-color-dark);
    }
  
    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus, 
    input:-webkit-autofill:active{
        -webkit-box-shadow: 0 0 0 30px var(--accent-color-dark) inset !important;
    }
    input:-webkit-autofill{
      -webkit-text-fill-color: white !important;
    }
  

  
    .close-popup {
      color:white;
    }
  
    .close-popup:hover,
    .close-popup:focus {
      background-color: var(--accent-color-dark);
      text-decoration: none;
      cursor: pointer;
  }
  
    .alert-box {
      background-color: var(--bg-color-dark);
    }
  
    .dropzone .dz-message {
      filter: invert(50%);
    }
  
    .dz-remove {
      color: #4390ee !important;
    }
  
    .dz-image{
      background: var(--bg-color-dark) !important;
    }
  
    .dz-image-preview {
      background: transparent !important;
    }
  
    .dz-size span{
      color: white;
      background-color: var(--accent-color-dark) !important;
    }
    .dz-size span strong{ background-color: transparent;}
  
    .background-theme {
      background-color: var(--bg-color-dark);
    }
  
    .no-content-icon {
      filter:invert(1);
    }
  
  } */