/* change font of everything */
.center-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

* {
  font-family: "Pt Sans", sans-serif;
}
/* Changes style of "Sign In" "Login" and "Pounce" on login screen */
h4{
  font-family: "Pt Sans narrow", sans-serif;
  margin-top: 10px;
  font-weight: bold;
  color: black;

}
/* Changes style of "Pounce" in navbar */
h1{
  margin-right: 20px;
  font-family: "Pt Sans narrow", sans-serif;
  font-weight: bold;
  color: #cbf8fe;

}
/* BG colors of login and registration page */
  .light-background {
    background: #CBF1F9;
    height: 100%;
  }


  .background-theme {
  
    /* background: #3b5323; */
  
    background: #5FE0FF;
    background: linear-gradient(315deg, #5FE0FF, #CBF1F9);
    height: 100%;
  }

  .shadow { 
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
  }
  

  /* BG colors of home/media pages */
  #home {
    /* position: absolute; */
    padding-bottom: 50px;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    overflow:auto;
    background: -webkit-linear-gradient(to right, #e87eed, #08b6cd);
  
    background: linear-gradient(to right, #e87eed, #08b6cd);  
    height: 100% !important;
  }

  body {
    padding-bottom: 50px;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    overflow:auto;

    background-color: #CBF1F9;
    height: 100% !important;
  }
  
  #home::-webkit-scrollbar {
    display: none;
  }
  
  
  #auth {
    position: absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    overflow:auto
  }
  
  .navbar-light {
    background: #0062b7 !important;
    height: 100%;
  }

  footer{
    background: -webkit-linear-gradient(to right, #e87eed, #08b6cd);
  
    background: linear-gradient(to right, #e87eed, #08b6cd);  height: 100%;
  }
  
  
  /* NavBar Fonts */
  .nav-link {
    font-size: 20px; /* set the font size */
    /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
    color: white !important; 
  }
  .navbar-nav .active > .nav-link {
    font-weight: bold;
    /* text-decoration: underline; */
    /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
    color: #ffe05c !important;
    font-size: 22px; /* set the font size */

  }
  
  .home-shortcut:hover {
    cursor: pointer;
  }
  
  /* Change color of buttons (must be declared as btn-green) */
  .btn-theme {
    background-color: #0062b7;
    color:white;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 18px;
    width: 200px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

  .btn-theme:hover {
    background: #01cdff;
    color: #000;
  }
  
  .btn-primary {
    background: #01cdff;
    color: #000;
  }

  .dropdown-toggle {
    background-color: #01cdff ;
    border-color:#0e6772;
  }

  .dropdown-item:hover {
    background-color: #eaeaea;
  }
  
  .dropzone .dz-preview .dz-error-message {
    top: 150px!important;
  }
  .dz-progress {
    z-index: 900 !important;
  }
  
  .file-view {
	color: black !important;
	font-weight: 600;
	background: #01cdff;
  }
  
  .file-view:hover {
	background: #0196d0;
  }
  
  /* Footer settings */
  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    color: #000;
    text-align: center;
    height: 40px;
    line-height: 50px;
    max-height: 100px;
  }
  
  
  /* Card Settings */
  .card-data-container::-webkit-scrollbar {
    display: none;
  }
  
  .card-data-container {
    overflow-y: auto; /* Enable vertical scrolling */
    overflow-x: hidden;
    overflow: visible;
    position: relative;
    color: black;
  }
  
  .form-control {
    white-space: nowrap;
  }
  .form-container {
    background: linear-gradient(to right, #f8defa, #c9f2f7);
  }
  
  .card-body {
    padding: 20px;
    background: whitesmoke;
    /* border: 1px solid #80ded4; */
    border-radius: .25rem;
    color: black;
  }
  .card-header {
    background: #0062b7;
    color: white;
    font-weight: bold;
  }
  
  /*
    Edit card settings
  */
  
  .edit-popup {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  .note {
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: pre-wrap;
  }
  
  #inputNote {
	height: 200px
  }
  
  .edit-popup::-webkit-scrollbar {
    display: none;
  }
  
  .edit-popup-content {
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 50%;
  }
  
 /* Share popup */
 .share-popup {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  

  .share-popup::-webkit-scrollbar {
    display: none;
  }
  
  .share-popup-content {
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 50%;
  }
  
  
  /* Media popup */

  .popup {
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: -moz-hidden-unscrollable;
    background-color: rgba(0,0,0,0.4);
  }

  .popup-content {
    margin: 20% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 50%;
  }
  
  .media-popup {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  .media-popup::-webkit-scrollbar {
    display: none;
  }
  
  .media-popup-content {
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 50%;
  }
  
  .media{
    width: 100% !important;
    max-height: 80vh !important;
    object-fit: contain !important;
  }
  
  .shared-files {
	display:none;  
  }

  .alert {
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  /* Close button */

  .close-btn{
    vertical-align: top;
    text-align: center;
    color:#222222;
    float: right;
    text-decoration: none;
    font-size: 28px;
    font-weight: bold;
  }

  .close-btn:hover,
  .close-btn:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
  }
  
  
  .close-popup {
    color: white;
    float: right;
    padding-left: 5px;
    text-decoration: none;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close-popup:hover,
  .close-popup:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* dropdown-menu */
  .dropdown-menu {
    min-width: 100%;
    width: auto;
  }
  