
<IfModule mod_rewrite.c>
    Options +FollowSymlinks
    RewriteEngine On

    # Allow access to files in the 'allowed_dir' directory

    RewriteCond %{REQUEST_URI} ^/writable/uploads/.*$ [NC]
    RewriteRule .* /index.php [L]

    # Deny access to all other files
    RewriteCond %{REQUEST_URI} !^/writable/uploads/.*$ [NC]
    RewriteRule .* - [F]

</IfModule>
